@import url('https://fonts.googleapis.com/css?family=Raleway:200');



body {
    font-family: 'Martel Sans', sans-serif;
    background: rgb(29, 141, 197);
    
    background-size: cover;
    

}

.headerdetails {
    display: flex;
    justify-content: center;
    font-family: 'Martel Sans', sans-serif;
    border: 5px;
    
    width: 52%;
    margin-left: 24%;
    --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
        
}
.headerdetails h2 {
    font-size: 24pt;
    margin-right: 20px;
    color: aliceblue;
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: -10px;
}

.page-container:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  



.timedisplay {
    flex-direction: column;
    padding:.5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    /*border: groove;*/
    text-align: center;
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);

}

.timedisplay h4 {
    align-items: center;
    font-size: 20pt;
    color: aliceblue;

}


.temp {
    font-size: 3rem;
    font-family: 'Martel Sans', sans-serif;
}
.innerbox {
    width: 52%;
}

form {
    /*border: groove;*/
    height: 70px;
    text-align: center;
    margin-top: -14px;
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.weatherresultText {
    /*border: groove;*/
    text-align: center;
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.textcenter-form {
    margin-top: 14px;;
    
}

.statusclass {
    font-size: 1.5rem;
    font-family: 'Martel Sans', sans-serif;
    color: aliceblue;  
}

.temp, .unit {
    color: aliceblue;
}

.image img {
    border: groove;
    width: 20%;
    
}


input {
    width: 20%;
    padding: 12px 20px;
    box-sizing: border-box;
  }

button {
    font-weight: 700px;
    border-radius: .25em;
    background-color: #4299e1;
    width: 16%;
    height:50px;
    font-weight: 700;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    margin-left: 1%;
}
.grid-container {
    display: inline-flex;
    width: 100%;
    
}
.grid-item {
    justify-content: space-evenly;
    width:100%;
    /*border: groove;*/
    grid-template-rows: auto;
    height: 200px;
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
    
}


#wind img {
    width: 50%;
    margin-left: 39px;
}

#pressure img {
    width: 50%;
    margin-left: 39px;
}


#direction img {
    width: 50%;
    margin-left: 39px;
}

#humidity img {
    width: 50%;
    margin-left: 39px;
}

.windspeedstatus {
font-family: 'Martel Sans', sans-serif;
color:blueviolet;
font-size: 2.5rem;
}

.windpressurestatus {
    font-family: 'Martel Sans', sans-serif;
    color:rgb(43, 116, 226);
    font-size: 2.5rem;
}

.directionclimatestatus {
    font-family: 'Martel Sans', sans-serif;
    color:rgb(43, 128, 226);
    font-size: 2.5rem;
}

.humidityclimatestatus {
    font-family: 'Martel Sans', sans-serif;
    color:rgb(43, 214, 226);
    font-size: 2.5rem;
}

.windsstatus, .pressurestatus, .directionstatus {
    font-weight: bold;
    color: aliceblue;
}

#date, #Timezonename, #TimeId, #Time {
    color: aliceblue;
    font-family: 'Raleway';
}


@media screen and (max-width: 600px) {
    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab );
        -webkit-animation: gradientBG 10s ease infinite;
	        animation: gradientBG 10s ease infinite;
        /*background-image: url('./image/frozen-wave-against-sunlight-1210273.jpg')8*/        
    }

    .grid-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        
    }

   input {
    width: 41%;
    padding: 12px 20px;
    box-sizing: border-box;
   }

   button {
    border-radius: .25em;
    background-color: #4299e1;
    width: 27%;
    height: 50px;
    font-weight: 700;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    margin-left: 1%;
   }


}

@media screen and (max-width: 375px) {
    body {
        background-image: url('./image/beach-blur-clouds-dawn-462030.jpg')
    }

    button {
        border-radius: .25em;
        background-color: #4299e1;
        width: 41%;
        height: 32px;
        font-weight: 700;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        margin-left: 1%;
    }
}